.item h3 {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin: 20px 0 8px 20px;
}

.item p {
    font-family: Source Code Pro;
    font-style: normal;
    font-size: 14px;
    margin: 0 0 0 20px;
}

.item {
    height: 32vh;
    background-color: #171717;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content  {
    position: absolute;
    top: 0px;
    background: rgba(23,23,23, 1);
    color: #f1f1f1;
    text-align: left;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.content:hover  {
    background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1239px) {
    .item {
        height: calc((100vh / 6) - (10px * 6));
        min-height: 100px;
        margin: 0 20px 0 20px;
        border-radius: 15px;
    }
    .content    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item h3 {
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        margin: 0px 0 8px 20px;
    }
}