.button {
    width: 10rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    position: relative;
}

.button a {
    font-family: Montserrat Alternates;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}