.title h2 {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    margin: 55px 0 0 0;
}

.title p {
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 18px 0 63px 0;
}

.portfolio-container {
}

.portfolioBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 100px 0 100px;
    overflow: auto;
    white-space: nowrap;
}
