.title h2 {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    margin: 55px 0 0 0;
}

.title p {
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 18px 20px 63px 20px;
}

.portfolio_container {
}

.portfolioBox {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
}

.Item   {
}

@media only screen and (max-width: 1239px) {
    .portfolioBox {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
