.background {
    margin: 20px 20px 20px -7vh;
    border-radius: 20px;
    background: #171717 url(/src/img/bg.jpg) no-repeat fixed right;
    background-clip: border-box;
    z-index: 0;
}

.titleBox {
    margin: 125px 55vw 0 calc(7vh + 90px);
    text-align: left;
}

.titleText h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3vw;
    max-font-size: 50px;
    min-font-size: 40px;
    font-weight: 400;
    margin: 0 0 -10px 0;
}

.titleText p {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    margin: 18px 0 30px 0;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 1.15s;
    opacity: 0;
}

@-webkit-keyframes seconds {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes seconds {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

p span {
    border-right: .05em solid;
    animation: caret-p 1s steps(1) infinite;
}

@keyframes caret-p {
    50% {
        border-color: transparent;
    }
}

h2 span{
    border-right: .05em solid;
    animation: caret-h2 1s steps(1) infinite;
    animation-delay: 0.7s;
    opacity: 1;
}

@keyframes caret-h2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}