@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: Panton;
    src: url(/src/font/Panton-BlackCaps.otf);
}

html {
    scroll-snap-type: y mandatory;
}

section {
    border-bottom: 1px solid white;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    height: 100vh;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

::-webkit-scrollbar {
    display: none;
}

.App-header {
    background-color: #fff;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px calc(100vw - 150px);
    color: white;
    padding: 0 20px 0 0;
}