@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: Panton;
    src: url(/src/font/Panton-BlackCaps.otf);
}

.App {
    text-align: center;
}

.App-header {
    background-color: #fff;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 150px calc(100vw - 150px);
    color: white;
}